body {
	  		font-size: 1em;
		  	color: rgba(26,26,26,.9);
		   	font-family: 'Open Sans', sans-serif;
		   	background-color: #f5f5f5;
		}
		  	.branding-bar{
			    width: 100%; 
			    height: 80px;
			    background-color: #002878;
			    padding-right:4em;
			    text-align: right;
			    font-size: 1em;
			    color:#f7f7f7;
			    line-height: 80px;
			    position:fixed;
			    z-index: 999;
			    
			}

				.button-link{
					padding-left: 2em;
					padding-right: 2em;
					padding-top:1em;
					padding-bottom:1em;
					border-radius: 50px;
				    /* this is irrelevant, and just so the element can be visualised/displayed: */
				    margin: 2em auto;
				    border: 1px solid #fff;
    				color: #fff;
    				font-size: .75em;
    				text-decoration: none;
    				margin-right: 5%;
				}

				.button-link:hover {
					color: #002878;
					background-color:white;
				}


				.link{
					color: #fff;
					text-decoration: none;
					font-size: .75em;
					text-transform: uppercase;
					margin-right: 2em;
				}
				.link:hover{
					color:#f5f5f5;
					font-style: bold;
				}


			.background-panel{
				padding-top:140px;
				display: block;
				background-color:#f5f5f5;

			}
				.panel{
					margin: 0 auto;
					background: white;
    				box-sizing: border-box;
    				max-width: 90%;
					
				}

					.main-header {
						color: #000789;
						font-size: 3em;
					}

					.main-image {
						width: 100%;
						display: block; /*This gets rid of the weird little space from inline-block*/
						
					
					}

					.pre-foot{
						height: 70px;
						background-color: #002878;
						clear:both;
					}


					.footer {
						height: 140px;
						background-color: #011f5f;
						
					}
						.square-title {
							color: #ededea;
							font-size: 1.8em;
							margin: 0 auto;
							text-transform: uppercase;
							text-align: center;
							padding-top: 2em;
						}

					.resources-head {
						color: #007698;
						font-size: 1.5em;
						margin-bottom: .5em;
						margin-top: 2em;
						text-transform: uppercase;
					}

					.resources-text{
						margin-bottom: 1em;
						line-height: 1.5em;
						font-family: 'Lora', serif;
						font-size: .9em;
						color: #4a4a4a;

					}


	.image-descript{
		position: relative;

	}

.image-text{
	position: absolute;
	top:30%;
		left:0;
		right:0;
		bottom:0;
}

	
.lil-image-text { 
		
		color: #ededea;
		margin-top: 20px;
    	margin-right: auto;
    	margin-bottom: 20px;
    	margin-left: auto;
		padding-top: 2em;
		text-align: center; 
		display:block;
		font-family: 'Lora', serif;
    	font-size: 24px;
    	font-weight: 400;
    	line-height: 1.5em;
    	letter-spacing: 1px;
    	font-style: italic;
    	color: #fff;
	}


	.big-image-text { 
		
		letter-spacing: 0.0588235em;
		line-height: 1em;
		font-size: 68px;
		text-transform: uppercase;
		text-align: center; 
		display:block;
		color: #fff;
	}

	.color-overlay{
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(0,0,0,.3);
	    
	}

.main{
	padding: 96px 32px;
    padding-top: 96px;
    padding-right: 32px;
    padding-bottom: 96px;
    padding-left: 32px;
}

.main_subpage{
	padding: 96px 32px;
    padding-top: 96px;
    padding-right: 32px;
    padding-bottom: 96px;
    padding-left: 32px;

}

.block{
	float: right;
	width:75%;
	margin: 0 auto;
	padding-left: 2.5em;
	padding-right: 2em;
	box-sizing: border-box;
	
}

.main-content{
	width: 100%;
    display: block;
    text-align: center;

}

.main-content-p{
	width: 90%;
    margin: 0 auto;
    margin-top: 7px;
    text-align: center;
    font-family: 'Lora', serif;
    line-height: 150%;
    margin-bottom: 90px;


}

.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
	margin: 0 auto;
}

.box{
	width: 50%;
	padding: 1em;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 2em;
	color: inherit;
	text-decoration: none;
	
}
.box-image{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

}

.box-caption-title{
	font-style: bold;
	font-size: 1.2em;
	color: #007698;
	padding-bottom: .75em;
	padding-top: .75em;
	text-align: center;
	text-transform: uppercase;

}

.box-caption{
	font-family: 'Lora', serif;
	font-size: .8em;
	line-height: 1.6em;

}

.folder-nav{
	text-transform: uppercase;
	line-height: 2em;
	font-size: .75em;
	color: rgba(26,26,26,.4);
	float: left;
	width: 25%;
	font-weight: 600;
	letter-spacing: 0.0588235em;
	box-sizing: border-box;
	padding-right: 1em;
}

.no-bullet{
	list-style-type: none;
}
	
.folder-nav_current-page-li{
	color: #333333;
}				

.nav-head{
	color: #007698;
	font-family: 'Lora', serif;
	margin-bottom: .3em;
	font-size: 1.3em;
	text-transform: none;
	font-weight: 300;

}			

.resources-list{
	line-height: 1.5em;
	font-family: 'Lora', serif;
	font-size: .9em;
	color: rgba(26,26,26,.7);

}